html
{
    height: 100% ;
}
body
{
    background-color: grey ;
    color: black ;
    height: 100% ;
    flex: column ;
}
.layout
{
    font-family: helvetica ;
    size: 20px ;
    color: black;
    text-align: center ;
    margin-left: auto ;
    margin-right: auto ;
    background-color: white ;
    width: 1000px ;
    padding-bottom: 50px ;
    flex: 1 0 auto ;
    
}
#header
{
    font-family: Arial ;
    size: 30px ;
    color: #51cf66 ;
}
.top_area
{
    border-bottom: 1px green solid;
}
.navigation
{
    width: 20% ;
    float: left ;
    background-color: white ;
    height: 50px ;
    padding-top: 10px ;
    border-bottom: 2px green solid ;
    color: blue ;
}

.navigation:hover
{
    background-color: #51cf66 ;
}
table
{
    border-spacing: 20px ;
}
td
{
    border: 2px #adb5bd solid ;
    background-color: #dee2e6 ;
}
.index
{
    -webkit-border-horizontal-spacing: 20px;
    -webkit-border-vertical-spacing: 20px;
    margin-left: auto ;
    margin-right: auto ;
}
.head
 {
     margin-top: 100px ;
     
 }
 .combinatorics_middle
 {
    width: 500px ; 
    margin-left: auto ;
    margin-right: auto ;
    padding-top: 10px ;
 }
 .input_label
 {
     width: 30% ;
     float: left ;
 }
.print_table
{
    width: 600px ;
    text-align: left ;
    margin-left: auto ;
    margin-right: auto ;
}
.foot
{
    background-color: #51cf66; 
    width: 1000px; 
    margin: auto ;
}
.footer_margin
{
    text-align: center ;
    margin-top: 0px ;
    margin-bottom: 0px ;
}
.radio_button
{
    display: none ;
}
.result
{
    font-size: 20px ;
    font-weight: bold ;
}